<div>
  <legend>Student List</legend>
  <table class ="table table-stripped">
  <thead>
    <tr>
    <th>Id</th>
    <th>Student Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>DOB</th>
    <th>Gender</th>
    <th>Department</th>
    <th>Subject</th>
    <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <td>aa</td>
    <td>aa</td>
    <td>ac</td>
    <td>aa</td>
    <td>aa</td>
    <td>aa</td>
    <td>aa</td>
    <td>aa</td>
    <td><a>Edit</a>
       |<a> Delete</a></td>
  </tbody>
  </table>
</div>